{% extends '/layout/front.html.twig' %}

{% block metaDescription %}La page d'accueil de mon site{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block style %}{% endblock %}

{% block body %}

    <div class="all">
        <h2>Tous les liens enregistrés</h2>

        <div class="form seek" id="seek">
            <form action="">
                <div class="form-group">
                    <input type="text" name="search" id="search" placeholder="Rechercher..." onkeyup="allSearch()" required>
                </div>
            </form>
        </div>

        <div class="content">
            <ul id="all">
                {% for link in links %}
                    <li>
                        <span class="clear" onclick="deleteLink({{link.id}}, {{auth.id}})"><i class="material-icons">cancel</i></span>
                        <a href="{{link.url}}" target="_blank">{{link.title}}</a>
                        <p>{{link.description}}</p>
                        <span class="tags">{{link.tag}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <p><a href="/" class="back">retour</a></p>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}